.container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    align-items: center;

    background-color: #020617;

    padding: 3px 15px 3px 15px;

    border-radius: 15px;
}

.container_label {
    width: 33%;
    color: #adbdd4;
}

.container_label > h2 {
    font-size: 16px;
}

.container_quantity {
    display: flex;
    justify-content: center;

    width: 33%;

    color: #adbdd4;
}

.container_quantity > span {
    font-weight: bold;
    font-size: 14px;
}

.container_buttons {
    display: flex;
    flex-direction: row-reverse;

    gap: 8px;
    
    width: 25%;
}