.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #020617;
    
    width: 280px;
    height: 80px;

    padding: 10px 0px 10px 10px;

    border-radius: 12px;

    gap: 4px;
}

.container_label {
    color: #94a3b8;
    font-size: 13px;
}

.container_value {
    font-size: 20px;
    font-weight: bold;
}