.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 25px;

    padding: 2px 5px 2px 5px;

    border-radius: 12px;

    font-weight: bold;
    font-size: 12px;

    background-color: red;

    user-select: none;
}