.container {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: #020617;

    padding: 3px 15px 3px 15px;

    border-radius: 15px;
}

.container_informations {
    width: 35%;
}

.container_informations h2 {
    color: #adbdd4;

    font-size: 18px;
}

.container_informations span {
    color: #94a3b8;

    font-size: 14px;
}

.container_role {
    text-align: center;
    
    background: #1e293b;

    padding: 5px;

    border-radius: 15px;

    font-weight: bold;
    font-size: 12px;

    width: 20%;
}

.container_setrole {
    width: 20%;
}

.container_setrole > select {
    background: #1e293b;
    color: white;

    padding: 5px;

    border-radius: 15px;

    font-weight: bold;
    font-size: 12px;
}

.container_buttons {
    display: flex;
    flex-direction: row-reverse;

    gap: 8px;
    
    width: 25%;
}