.container {
    display: flex;

    background-color: #1e293b;
    color: #94a3b8;

    font-weight: bold;
    font-size: 12px;

    padding: 2px 5px 2px 5px;

    border-radius: 12px;

    cursor: pointer;
}

.container:active {
    position: relative;
    top: 1px;
}