.container {
    display: flex;

    background-color: #1e293b;
    color: #94a3b8;

    font-weight: bold;
    font-size: 12px;

    padding: 3px 6px 3px 6px;

    border-radius: 12px;

    cursor: pointer;

    width: fit-content;
}

.container:active {
    position: relative;
    top: 1px;
}