<div class="menu">

    <app-menu-bar></app-menu-bar>

</div>

<div class="container">

    <div class="container_background">

        <div class="container_background_users">

            <div class="container_background_users_top">

                <div class="container_background_users_label">

                    <h2>Usuários</h2>

                    <span>Gerencie os usuários</span>

                </div>

                <div class="container_background_users_top_button">

                    <app-button
                        label="Adicionar"
                        (clicked)="popup(4)"
                    ></app-button>

                </div>

            </div>

            <div class="container_background_users_items">

                @for (user of users; track $index) {
                    <app-user-information
                        [id]="user.id"
                        [username]="user.username"
                        [email]="user.email"
                        [role]="user.role"
                        (delete)="popup(5); user_id=$event"
                    ></app-user-information>
                }

            </div>

        </div>

        <div class="container_background_items">

            <div class="container_background_items_categories">

                <div class="container_background_items_categories_top">

                    <div class="container_background_items_categories_top_label">
                        
                        <h2>Categorias</h2>
    
                        <span>Gerencie as categorias</span>

                    </div>

                    <div class="container_background_items_categories_top_button">
                        
                        <app-button
                            label="Adicionar"
                            (clicked)="popup(1)"
                        ></app-button>

                    </div>

                </div>

                <div class="container_background_items_categories_items">

                    @for (category of categories; track category.id) {
                        <app-category-informations
                            [id]="category.id"
                            [name]="category.name"
                            [quantity]="category.quantity"
                            (edit)="popup(2); category_id = $event"
                            (delete)="popup(3); category_id = $event"
                        ></app-category-informations>
                    }

                </div>

            </div>

            <div class="container_background_items_reasons">

                <div class="container_background_items_reasons_top">

                    <div class="container_background_items_reasons_top_label">
                        
                        <h2>Motivos</h2>
    
                        <span>Gerencie os Motivos</span>

                    </div>

                    <div class="container_background_items_reasons_top_button">
                        
                        <app-button
                            label="Adicionar"
                            (clicked)="popup(7)"
                        ></app-button>

                    </div>

                </div>

                <div class="container_background_items_reasons_itens">

                    @for (reason of reasons; track reason.id) {
                        <app-reason-informations
                            [id]="reason.id"
                            [name]="reason.name"
                            (edit)="popup(8); reason_id = $event"
                            (delete)="popup(9); reason_id = $event"
                        ></app-reason-informations>
                    }

                </div>

            </div>

        </div>

    </div>

@if (popup_value === 1) {

    <div class="popup">

        <app-create-category
            (clicked)="popup(0)"
        ></app-create-category>

    </div>

}

@if (popup_value === 2) {

    <div class="popup">

        <app-edit-category
            [category_id]="category_id"
            (clicked)="popup(0)"
        ></app-edit-category>

    </div>

}

@if (popup_value === 3) {

    <div class="popup">

        <app-delete-category
            [category_id]="category_id"
            (clicked)="popup(0)"
        ></app-delete-category>

    </div>

}

@if (popup_value === 4) {

    <div class="popup">

        <app-create-user
            (clicked)="popup(0)"
        ></app-create-user>

    </div>

}

@if (popup_value === 5) {

    <div class="popup">

        <app-delete-user
            [user_id]="user_id"
            (clicked)="popup(0)"
        ></app-delete-user>

    </div>

}