.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_background {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;

    gap: 30px;

    width: 70%;
}

.container_background_labels h2 {
    font-size: 21px;
}

.container_background_labels span {
    font-size: 15px;
    color: #94a3b8;
}

.container_background_users {
    display: flex;
    flex-direction: column;

    gap: 2px;
}