.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_background {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;

    gap: 30px;

    width: 70%;
}

.container_background_labels h2 {
    font-size: 21px;
}

.container_background_labels span {
    font-size: 15px;
    color: #94a3b8;
}

.container_background_categories {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.container_background_categories_top {
    display: flex;

    justify-content: space-between;
}

.container_background_categories_itens {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.container_background_users {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.container_background_users_top {
    display: flex;

    justify-content: space-between;
}

.container_background_users_itens {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}