.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_background {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;

    gap: 30px;

    width: 70%;
}

.container_background_labels h2 {
    font-size: 21px;
}

.container_background_labels span {
    font-size: 15px;
    color: #94a3b8;
}

.container_background_users {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.container_background_users_top {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.container_background_users_items {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.container_background_items {
    display: flex;

    justify-content: space-between;
}

.container_background_items_categories {
    display: flex;
    flex-direction: column;

    width: 48%;
}

.container_background_items_categories_top {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.container_background_items_categories_items {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.container_background_items_reasons {
    display: flex;

    width: 48%;
}

.container_background_items_reasons {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.container_background_items_reasons_top {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.container_background_items_reasons_items {
    display: flex;
    flex-direction: column;

    gap: 5px;
}
