.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_background {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;

    gap: 30px;

    width: 60%;
}

.container_background_up {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.container_background_up_informations h2 {
    font-size: 21px;
}

.container_background_up_informations span {
    font-size: 15px;
    color: #94a3b8;
}

.container_background_up_filter {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3px;
}

.container_background_up_filter input {
    text-align: center;

    background-color: #020617;
    color: white;

    padding: 2px;
}

.container_background_up_filter select {
    background-color: #020617;
    color: white;

    padding: 2px;
}

.container_background_reports {
    display: flex;
    flex-direction: column;

    gap: 3px;
}