:host {
  display: block;
  width: 100%;
}

.select-input-container {
  display: flex;
  flex-direction: column;
}

.select-input-container_form {
    display: flex;
    flex-direction: column;

    gap: 3px;
}

.select-input-container_form_title a {
  font-size: 0.75rem;
  color: #94a3b8;
  text-decoration: none;
}

.select-input-container_form_select > select {
    background: #1e293b;
    color: white;

    padding: 5px;

    border-radius: 15px;

    font-weight: bold;
    font-size: 12px;
}