.container {
    width: 500px;

    background: #0b1220;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    z-index: 9999;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.container_form {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.container_form_inputs {
    display: flex;
    flex-direction: column;

    gap: 3px;
}

.container_form_buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}