.container {
  width: 100%;
}

.container_report {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 6px 14px;
  
  border-radius: 6px;
  
  font-weight: bold;
  font-size: 12px;

  color: white;

  width: 200px;
}

.report-exit {
  background-color: #c62828;
}

.report-entry {
  background-color: #2e7d32;
}
