.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.container_background {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;

    background-color: #020617;

    border-radius: 12px;

    gap: 15px;

    padding: 20px 0px 20px 0px;

    box-shadow: 0 20px 40px rgba(0,0,0,0.45);
}

.container_background_form {
    display: flex;
    flex-direction: column;

    gap: 15px;

    width: 80%;
}

.container_background_form_button {
    display: flex;
    justify-content: space-between;
}

.container_background_form_inputs {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.container_background_form_inputs_select {
  color: #64748b;

  font-size: 15px;
  font-weight: bold;
}

.container_background_form_inputs_select > select {
    width: 120px;
    background-color: #020617;
    color: white;

    padding: 2px;

    border: 1px solid white;
    border-radius: 12px;
}