<div class="container">

    <div class="container_background">

        <div class="container_background_informations">
        
            <app-informations
                label="Produtos"
                [value]="informations.quantity"
            ></app-informations>
            <app-informations
                label="Itens em estoque"
                [value]="informations.total"
            ></app-informations>
            <app-informations
                label="Estoque crítico"
                [value]="informations.warnings"
            ></app-informations>

        </div>

        <div class="container_background_options">

            <app-search-bar></app-search-bar>

            <app-button
                label="Adicionar produto"
                (clicked)="popup(1)"
            ></app-button>

        </div>

        <div class="container_background_products">

            @for (product of products; track product.id) {
                <app-product
                    [id]="product.id"
                    [title]="product.name"
                    [category]="product.category"
                    [quantity]="product.quantity"
                    [min_quantity]="product.min_quantity"
                    (edit)="popup_edit($event)"
                ></app-product>
            }

        </div>

    </div>

</div>

@if (popup_value === 1) {

    <div class="create_product">

        <app-create-product
            [options]="categories"
            (clicked)="popup(0)"
        ></app-create-product>

    </div>

}

@if (popup_value === 2) {

    <div class="edit_product">

        <app-edit-product
            [options]="categories"
        ></app-edit-product>

    </div>

}