<div class="container">

    <div class="container_background">

        <div class="container_background_informations">
        
            <app-informations
                label="Produtos"
                [value]="informations.products_quantity"
            ></app-informations>
            <app-informations
                label="Itens em estoque"
                [value]="informations.total"
            ></app-informations>
            <app-informations
                label="Estoque crítico"
                [value]="informations.alerts"
            ></app-informations>

        </div>

        <div class="container_background_options">

            <app-search-bar></app-search-bar>

            <app-button
                label="Adicionar produto"
                (clicked)="create_product()"
            ></app-button>

        </div>

        <div class="container_background_products">

            @for (product of products; track $index) {
                <app-product
                    [title]="product.title"
                    [category]="product.category"
                    [quantity]="product.quantity"
                    [min_quantity]="product.min_quantity"
                ></app-product>
            }

        </div>

    </div>

</div>

@if (create_product_popup) {

    <div class="create_product">

        <app-create-product
            (clicked)="create_product()"
        ></app-create-product>

    </div>

}