.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

}

.container_background {
    display: flex;
    flex-direction: column;


    margin: 0px 15px 0px 15px;

    gap: 30px;
}

.container_background_informations {
    display: flex;
    flex-direction: row;

    gap: 30px;
}

.container_background_options {
    display: flex;
    justify-content: space-between;

    width: 100%;   
}

.container_background_products {
    display: flex;
    flex-direction: column;

    gap: 3px;
}