<div class="container">

    <div class="container_options">

        @if (logged) {

            <a [routerLink]="['/stock']">Estoque</a>
            <a [routerLink]="['/report']">Relatórios</a>

            @if (user_role < 3) {

                <a [routerLink]="['/admin']">Admin</a>
            
            }

        }

    </div>

    <div class="container_title">

        <h1>MeStocky</h1>

    </div>

    <div class="container_profile">

        @if (logged) {

            <app-user
                [label]="username"
                [role]="rolename"
                [routerLink]="['/profile']"
            ></app-user>
            
        }

    </div>

</div>