.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    background-color: #020617;

    padding: 15px 10px 15px 10px;
    margin-bottom: 15px;

    user-select: none;
}

.container_options {
    display: flex;

    gap: 5px;

    cursor: pointer;

    width: 33%;
}

.container_options > a {
    text-decoration: none;
    color: #94a3b8;
}

.container_options > a:active {
    position: relative;
    top: 1px;
}

.container_title {
    display: flex;
    justify-content: center;
    
    width: 33%;
}

.container_profile {
    display: flex;
    flex-direction: row-reverse;
    
    width: 34%;
}