.container {
    display: flex;
    flex-direction: column;

    background: #0b1220;
    
    min-width: 500px;
    width: fit-content;
    
    border-radius: 12px;
    padding: 20px;
    
    gap: 16px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
}

.container_informations {
    display: flex;
    flex-direction: column;

    gap: 15px;
}