.container {
    display: flex;
    align-items: center;

    width: 900px;

    height: 60px;

    background-color: #020617;

    padding: 0px 25px 0px 25px;

    border-radius: 12px;
}

.container_informations {
    display: flex;
    flex-direction: column;

    width: 25%;
}

.container_informations h2 {
    font-size: 16px;
}

.container_informations span {
    font-size: 12px;
    color: #94a3b8;
}

.container_quantity {
    font-weight: bold;
    font-size: 15px;

    width: 25%;
}

.container_warning {
    width: 25%;
}

.container_options {
    display: flex;
    flex-direction: row;

    gap: 5px;

    width: 25%;
}