.container {
    display: flex;
    justify-content: space-between;

    padding: 15px;

    border-radius: 15px;

    background-color: #020617;

    font-size: 15px;
}

.container_date {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #94a3b8;

    width: 20%;
}

.container_product {
    display: flex;
    align-items: center;
    width: 40%;
}

.container_type {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: fit-content;
    
    gap: 15px;
}

.container_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    
}