.container {
    display: flex;
    justify-content: space-between;

    padding: 15px;

    border-radius: 15px;

    background-color: #020617;

    font-size: 15px;
}

.container_date {
    color: #94a3b8;
}

.container_quantity {
    font-weight: bold;
}