.container_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
}

.container_inputs > input {
    background-color: #1e293b;
    color: white;

    border: 1px solid black;
    border-radius: 12px;

    padding: 10px;

    height: 35px;
}