.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_background {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;

    gap: 30px;

    width: 35%;
}

.container_background_informations {
    background-color: #020617;

    border-radius: 12px;

    padding: 15px;
}

.container_background_informations h2 {
    font-size: 22px;
}

.container_background_informations span {
    font-size: 14px;
    
    color: #94a3b8;
}

.container_background_credentials {
    display: flex;
    flex-direction: column;

    gap: 15px;

    border-radius: 12px;

    background-color: #020617;

    padding: 15px;
}

.container_background_credentials_button {
    display: flex;
    flex-direction: row-reverse;
}

.container_background_password {
    display: flex;
    flex-direction: column;

    gap: 15px;

    border-radius: 12px;

    background-color: #020617;

    padding: 15px;
}

.container_background_password_button {
    display: flex;
    flex-direction: row-reverse;
}