.container > button {
  padding: 0.6rem;
  
  border: none;
  border-radius: 6px;
  
  font-weight: 600;
  
  cursor: pointer;

  user-select: none;
}

button:hover {
  background: #30a8db;
}

button:active {
  background: #2787b1;

  position: relative;
  top: 1px;
}

.blue {
  background: #38bdf8;
  color: #020617;
}

.blue:hover {
  background: #30a8db;
}

.blue:active {
  background: #2787b1;

  position: relative;
  top: 1px;
}

.red {
  background: #7f1d1d;
  color: white;
}

.red:hover {
  background: #991b1b;
}

.red:active {
  background: #b91c1c;
  position: relative;
  top: 1px;
}

